
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<script type="text/javascript">
    function myFunction() {
    var x = document.getElementById("signUpDiv");
    var y = document.getElementById("loginDiv");
    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
    } else {
        x.style.display = "none";
        y.style.display = "block";
    }
}


</script>
<body>
<h1> welcome to mini amazon </h1>

<p style="color:red" id="messagePar"> {{ message }} </p>

<div id = "loginDiv">
<h3> Please Login</h3>
    <form  action="/users/login" method="POST">
  <input type="text" name="op_type" value="insert" hidden>
    user name:<br>
  <input type="text" name="userName" required><br>
  password:<br>
  <input type="password" name="password" required><br>
     <input type="submit" value="Login">
</form>

   <br> <button id = "signin" onclick="myFunction()"> Click for Sign up </button> <br>
</div>
<div id = "signUpDiv" style="display:none">
    <h3> Please Sign in</h3>
    <form  action="/users/signup" name="signin_form" method="POST">
  <input type="text" name="op_type" value="insert" hidden>
    user name:<br>
  <input type="text" name="userName" required><br>
  password:<br>
  <input type="password" name="password"  id="password" required><br>
    confirm password: <br>
    <input type="password" name="confirmPassword" id="confirmPassword" required><br>
     <input type="submit" value="Sign Up" id="signInButton" onclick="signOnClick()">
</form>

</div>

</body>
</html>

